<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leave Request</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 15px;
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: space-between;
      background-color: black;
      padding: 10px;
    }

    nav a {
      color: white;
      text-decoration: none;
      padding: 8px 16px;
    }

    .container {
      margin: 20px auto;
      max-width: 600px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      background-color: black;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: grey;
    }
  </style>
</head>
<body>


  <nav>
    <a href="dashboard" onclick="goBack()">Back</a>
    <a href="#">General Leave Request</a>
  </nav>

  <div class="container">
    <form action="/general_leave" method="post" >
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" name="phone" required>

      <label for="fromDate">From Date:</label>
      <input type="date" id="fromDate" name="fromDate" required>

      <label for="toDate">To Date:</label>
      <input type="date" id="toDate" name="toDate" required>

      <label for="leaveDescription">Leave Description:</label>
      <textarea id="leaveDescription" name="leaveDescription" rows="4" required></textarea>

      <button type="button" >Request</button>
    </form>
  </div>


</body>
</html>
